:root {
    --primary-color: #006680;
    --hover-color: darkgoldenrod;
    --text-color: white;
    --bt-height: 50px;
    --bt-width: 200px;
    --bt-offset: 25px;
    --bt-radius: 10px;
    --font-size: 30px;
}

#menucontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;

}

#menuId {
    width: 200px;
    position: relative;
    height: 400px;
}


#startGame {
    display: block;
    height: var(--bt-height);
    width: var(--bt-width);
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#resumeGame {
    display: none;
    height: var(--bt-height);
    width: var(--bt-width);
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#infoGame {
    display: block;
    height: var(--bt-height);
    width: var(--bt-width);
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#exitGame {
    display: block;
    height: var(--bt-height);
    width: var(--bt-width);
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#startGame:hover,
#resumeGame:hover,
#infoGame:hover,
#exitGame:hover {
    background: var(--hover-color);
}

#menuId p:hover {
    color: black;
}

#menuId p {
    font-size: 30px;
    padding: 8px;
    position: relative;
    text-align: center;
    margin: var(--bt-offset);
    color: var(--text-color);
    transition: 0.5s;

}

#info {
    color: #FFC107;
    width: 540px;
    position: relative;
    height: 349px;
    top: 16%;
    margin: auto;
    font-size: 31px;
}