:root {
    --primary-color: #006680;
    --hover-color: darkgoldenrod;
    --text-color: white;
    --bt-height: 50px;
    --bt-width: 200px;
    --bt-offset: 25px;
    --bt-radius: 10px;
    --font-size: 30px;
}

#menuId {
    position: absolute;
    margin: auto;
    color: var(--primary-color);
}

#menucontainer{
    position: relative;
    left: 70%;
    top: 80%;
}

#startGame {
    position: relative;
    display: block;
    bottom: 333px;
    right: 300px;
    height: var(--bt-height);
    width: var(--bt-width);
    text-align: center;
    font-size: 30px;
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    font-family: shadows into light;
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#resumeGame {
    position: relative;
    display: none;
    bottom: 333px;
    right: 300px;
    height: var(--bt-height);
    width: var(--bt-width);
    text-align: center;
    font-size: 30px;
    transition: 0.5s;
    background: var(--primary-color);
    color: var( --text-color);
    font-family: shadows into light;
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#infoGame {
    display: block;
    height: var(--bt-height);
    width: var(--bt-width);
    background: var(--primary-color);
    position: relative;
    bottom: 360px;
    right: 300px;
    font-size: 30px;
    text-align: center;
    font-family: shadows into light;
    color: var(--text-color);
    transition: 0.5s;
    cursor: pointer;
    border-radius: var(--bt-radius);
}


#exitGame {
    display: block;
    height: var(--bt-height);
    width: var(--bt-width);
    background: var(--primary-color);
    position: relative;
    bottom: 345px;
    right: 300px;
    text-align: center;
    font-size: 30px;
    font-family: shadows into light;
    color: var(--text-color);
    transition: 0.5s;
    cursor: pointer;
    border-radius: var(--bt-radius);
}

#startGame:hover,
#resumeGame:hover,
#infoGame:hover,
#exitGame:hover {
    background: var(--hover-color);
    color: var(--text-color);
}

#menuId p {
    padding: 10px;
    position: relative;
    color: white;
}

#startGame p {
    right: 4px;
}

#resumeGame p {
    right: 4px;
}

#exitGame p {
    top: 0px;
}