body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 40px;
}

h1 {
    font-size: 38.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}


/* Styling needed for a fullscreen canvas and no scrollbars. */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas{
    display: block;
}

#starfield {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

#gamecontainer {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#gamecanvas {
    width: 100%;
    height: 100%;
}

#info {
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#progressBar {
    position: relative;
}

progress {
    /* background-color: black !important; */
}

progress::-moz-progress-bar {
    background-color: red; //!important;
}

progress::-webkit-progress-value {
    background-color: red; //!important;
}

#healthBar {
    width: 30%;
}

#energyBar {
    left: 42%;
    width: 30%;
    position: relative;
}